<!DOCTYPE html>
<html>
    <head>
        <title>Jonathan's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jonathan's Blog</a></h1>
        </header>

        <article>
            <time>published: 02.06.2023, 14:51</time>
            <h2><a href="">Mein erster Post:</a></h2>
            <p>Hallo, das ist mein erster Post.
            </p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Mein zweiter Post</a></h2>
            <p>Ich weiß nicht was ich hier reinschreiben soll.</p>
        </article>
    </body>
</html>